header {
    background-image: url(../images/apple-pie.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    font-size: 100px;
}